
.jumbotron.container{
  margin: auto;
  text-align: center;
  width: inherit;
  background-color:#fcdf3c;
  border-radius: 0;
}

.card-block{
  padding: 30px;
}

.card-img-top{
  height: 200px;
  object-fit: cover;
}

img{
}

body{
  padding: 0 !important;
  background-color:#fcdf3c !important;
  margin: 0;
}